/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Eina";
  src: url("/fonts/Eina.otf");
}

@font-face {
  font-family: "Eina Light";
  src: url("/fonts/Eina-Light.otf");
}

@font-face {
  font-family: "Eina SemiBold";
  src: url("/fonts/Eina-SemiBold.otf");
}

@font-face {
  font-family: 'Lobster';
  src: url("/fonts/Lobster-Regular.ttf")
}

@layer base {
  p, h1, h2, h3, h4, h5 {
    color: rgba(255, 255, 255, .8);
    font-family: Lobster;
  }

  body {
    background-image: url('/background.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.Toastify__progress-bar--default {
  background: #89bdf9 !important;
}